<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="" method="POST" >{% csrf_token %}
    {% if error %}
        <div>
            {{ error }}
        </div>
    {% endif %}
    <div >
        <label for="Username">نام کاربری</label>
        <input  type="text" id="Username" name="username" placeholder="نام کاربری" value={{ username }}>
        <small >نام کاربری خود را وارد کنید</small>
    </div>
    <div class=" form-group col-12">
        <label for="Password">رمز عبور</label>
        <input type="password" id="Password" placeholder="رمز عبور" name="password" >
        <small >رمز عبور خود را وارد کنید</small>
    </div>
    <button type="submit">ارسال</button>
</form>
</body>
</html>