<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
<div margin="20px">
    {{ prof.errors }}
</div>
    <form method="post">{% csrf_token %}
{#        {% for field in prof %}#}
        <label>
            {{ prof.user.label }}
        </label>
        <div>
            {{ user.username }}
        </div>
        <label>
            {{ prof.Birth_date.label }}
        </label>
        <div>
            {{ prof.Birth_date }}
            {{ prof.Birth_date.errors }}
        </div>
        <label>
                {{ prof.Phone_number.label }}
        </label>
        <div>
            {{ prof.Phone_number }}
            {{ prof.Phone_number.errors }}
        </div>
        <label>
            {{ prof.gender.label }}
        </label>
        <div>
            {{ prof.gender }}
            {{ prof.gender.errors }}
        </div>
        <label>
            {{ prof.picture.label }}
        </label>
        <div>
            {{ prof.picture }}
            {{ prof.picture.errors }}
        </div>
         <label>
            {{ names.first_name.label }}
        </label>
        <div>
            {{ names.first_name }}
            {{ names.first_name.errors }}
        </div>
        <label>
            {{ names.last_name.label }}
        </label>
        <div>
            {{ names.last_name }}
            {{ names.last_name.errors }}
        </div>

{#        {% endfor %}#}
    <button type="submit">ok</button>
    </form>
</body>
</html>