<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
<div>
</div>
<form action="" method="POST">{% csrf_token %}
    <label>
        {{ user.username.label }}
    </label>
    <div>
        {{ user.username }}
        {{ user.username.errors }}
    </div>
    <label>
        {{ user.password1.label }}
    </label>
    <div>
        {{ user.password1 }}
        {{ user.password1.errors }}
    </div>
    <label>
        {{ user.password2.label }}
    </label>
    <div>
        {{ user.password2 }}
        {{ user.password2.errors }}
    </div>
    <button type="submit"  > تائید</button>
</form>
</body>
</html>