<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newpost</title>
</head>
<body>
    {{ post.errors}}
    <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
        <label >
            {{ post.title.label }}
        </label>
        <div>
            {{ post.title }}
            {{ post.title.errors }}
        </div><br/><hr/>
        <label>
            {{ post.data.label }}
        </label>
        <div>
            {{ post.data }}
            {{ post.data.errors }}
        </div><br/><hr/>
        <label >
            {{ post.caption.label }}
        </label>
        <div>
            {{ post.caption }}
            {{ post.captin.errors }}
        </div><br/><hr/>
        <button type="submit"> اشتراک گذاری</button>
    </form>
</body>
</html>
