{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
    <img src="{{ post.data.url }}" width=400px" height="400" alt="{{ post.id }}">
<hr/>
    {{ post.caption }}
    <hr/>
    {{ post.share_date|date:"Y/m/d" }}
    <hr/>
    {{ post.prof}}
    <hr/>
    <form method="post">
        {% csrf_token %}
        <input type="checkbox" name="like">
        <input type="text" name="comment">
        <button type="submit">ارسال</button>
    </form>
</body>
</html>